#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$Sar1qxeRm503ifc1$0kXjx2X0Fh668lP4rNjy7fvo13xwcZWgrQdnTe04PoKbkHIdCpVEvkH3PjYljGccf0JqIuB48DbGQx8PJpIQa0
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --name=zyc --password=$6$z1F.Wnox.y9fBaEj$cgKDXwyeR3YCnhwFChQruoRr/1Kk1w.n3nbzghIR4qP3Z4EWKI5TNjfpc3d4.vX1CRgG4VL4EIQTyZkL0jakT/ --iscrypted --gecos="zyc"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
